html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
header, footer {
    flex: none;
}
main {
    flex: auto;
    background: white;
}
header > p {
    font-size: 30px;
    line-height: 50px;
    padding: 50px;
    margin: 0;
}
header .btn {
    float: right;
}
footer > p {
    line-height: 50px;
    padding: 50px;
    margin: 0;
}
main > div {
    padding: 50px;
}
a.flex {
    display: flex;
    gap: 24px;
}
.flex > span {
    flex: auto;
}
.flex .badge {
    flex: none;
    height: 24px;
}
.inuse {
    background: url('loader.gif') center no-repeat;
}
.inuse > * {
    opacity: 0;
    transition: opacity 1.5s .3s;
}